name: Deploy Backend to Elastic Beanstalk

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'

  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  EB_APP_NAME: "flowmetrics-backend-app"
  EB_ENV_NAME: "Flowmetrics-backend-app-env"
  EB_BUCKET_NAME: "elasticbeanstalk-us-east-2-949263681218"
  EB_AWS_REGION: "us-east-2"
  

jobs:
  build-and-deploy:
    name: Build and Deploy Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
 
      - name: Create ZIP Deployment Package
        run: |
          echo "ZIP_FILE_NAME=${EB_APP_NAME}-${{ github.sha }}.zip" >> $GITHUB_ENV
          zip -r ../${{ env.ZIP_FILE_NAME }}.zip . -x ".*" ".git/*" "node_modules/*"
        working-directory: ./backend

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.ROLE_ARN }}
          role-session-name: flowmetrics-backend-deploy
          aws-region: ${{ env.EB_AWS_REGION }}

      - name: Upload Package to S3
        run: |
          aws s3 cp ${{ env.ZIP_FILE_NAME }} s3://${{ env.EB_BUCKET_NAME }}/${{ env.ZIP_FILE_NAME }}
      
      - name: Create New Application Version
        run: |
          aws elasticbeanstalk create-application-version \
            --application-name ${{ env.EB_APP_NAME}} \
            --version-label ${{ github.sha }} \
            --source-bundle S3Bucket=${{ env.EB_BUCKET_NAME }},S3Key=${{ env.ZIP_FILE_NAME }} \
            --no-auto-create-application

      - name: Update Environment (Deploy New Version)
        run: |
          aws elasticbeanstalk update-environment \
            --environment-name ${{ env.EB_ENV_NAME }} \
            --version-label ${{ github.sha }}
     
